body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.router {
  display: contents;
}
p-component {
  font-family: "Ranchers", cursive;
}
p {
  color: #fff;
}
